<div class="sidebar">
   <div class="area target">
      <h3>
         Who I Am
      </h3>
      <img src="/img/user/user-2.png" alt="user">

      <div class="categories">
         <span>#art</span>
         <span>#design</span>
         <span>#paint</span>
         <span>#culture</span>
      </div>
   </div>



   <div class="area target">
      <h3>
         Your Space
      </h3>
      <div class="list">
         <a href="/admin/add">Add Post</a>
         <a href="/admin/performance">Your Performance</a>
         <a href="/admin/views">Number of Views</a>
      </div>
   </div>
</div>