.about{
   width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   padding: 20px;
}
.about .wrapper{
   width: 100%;
   max-width: 1366px;
   display: flex;
   padding: 10px;
   margin: 30px 0;
   border: 1px solid rgba(0, 0, 0, 0.2);
   border-radius: 10px;
}
.about .wrapper:nth-child(2n){
   flex-direction: row-reverse;
}
.about .text, .about .picture{
   flex: 1;
   padding: 5px;
}
.about .text h3{
   font-family: 'Dancing Script', cursive;
   font-size: 2rem;
   font-weight: 700;
}
.about .text p{
   font-family: 'Josefin Sans', sans-serif;
   font-size: 1.2rem;
   padding: 10px;
   line-height: 25px;
}
.about .text p::first-letter{
   margin-left: 20px;
   font-size: 1.3rem;
}
.about .picture img{
   border-radius: 10px;
   cursor: pointer;
   transition: all 0.5s;
}
.about .picture img:hover{
   transform: scale(1.05);
}


/* Scroll animation */
.about .wrapper{
   transition: all 0.5s;
   opacity: 0;
}
.about .wrapper.active{
   opacity: 1;
}
.about .text{
   transition: all 0.8s;
   transform: translateX(-15px);
}
.about .wrapper:nth-child(2n) .text{
   transition: all 0.8s;
   transform: translateX(15px);
}
.about .wrapper.active .text{
   transform: translateX(0px);
}

.about .picture{
   transition: all 0.8s;
   transform: translateX(15px);
}
.about .wrapper:nth-child(2n) .picture{
   transition: all 0.8s;
   transform: translateX(-15px);
}
.about .wrapper.active .picture{
   transform: translateX(0px);
}