{{>header}}



<div class="about">
   <div class="wrapper target">
      <div class="text">
         <h3>
            Who Are We
         </h3>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, eaque. Cumque illum laborum consectetur sint non expedita voluptates iste quo maiores ratione consequuntur, quisquam quia possimus sed optio nisi aliquid.
         </p>
      </div>
      <div class="picture">
         <img src="/img/team/team-1.jpg" alt="team">
      </div>
   </div>


      <div class="wrapper target">
      <div class="text">
         <h3>
            Our Team
         </h3>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, eaque. Cumque illum laborum consectetur sint non expedita voluptates iste quo maiores ratione consequuntur, quisquam quia possimus sed optio nisi aliquid.
         </p>
      </div>
      <div class="picture">
         <img src="/img/team/team-2.jpg" alt="team">
      </div>
   </div>


      <div class="wrapper target">
      <div class="text">
         <h3>
            Who Are We
         </h3>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, eaque. Cumque illum laborum consectetur sint non expedita voluptates iste quo maiores ratione consequuntur, quisquam quia possimus sed optio nisi aliquid.
         </p>
      </div>
      <div class="picture">
         <img src="/img/team/team-3.jpg" alt="team">
      </div>
   </div>

   
</div>